@page
@model E_Invoice_system.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Add Product";
}

<div class="dashboard-panel">
    <div class="page-header">
        <h1 class="page-title-large">
            Add New Product
        </h1>
        <a asp-page="./Index" class="btn-secondary">
            <i class="ph-arrow-left"></i> Back to List
        </a>
    </div>

    <component type="typeof(E_Invoice_system.Components.Product.ProductForm)" render-mode="ServerPrerendered" />
</div>
